body {
    background-color: rgba(9, 77, 146, 0.8);
    text-shadow: 2px 1.2px gray;
}
#main {
    background: linear-gradient(45deg, #68B684,#95E06C, #C3F73A);
    color: white;
    border-radius: 10px; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#main h1 {
    text-align: center;
}
#main h3 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
#image {
    margin: auto;
    display: block;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
#img-caption {
    text-align: center;
    font-size: 14px;
}
#tribute-info {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 9px;
}
#tribute-link {
    color: #333333;
}
#tribute-link:hover {
    color: red;
}