body {
    background-color: #C3F73A;
}
.introduction {
    background-color: rgba(9, 77, 146, 0.8);
    color: white;
    border-radius: 10px; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.introduction h1 {
    text-align: center;
}
.introduction h3 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
#images {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 10px;
    flex-wrap: nowrap;
}
#images img {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#image1 {
    width: 220px;
    height: 415px;
    order: 2;
    margin-left: 20px;
}
#image2 {
    align-self: center;
    width: 703.56px;
    height: 415px;
    order:3;
    margin-left: 20px;
    margin-right: 20px;
}
#image3 {
    order: 1;  
    margin-left: 20px; 
}